.highlightCard {
    width: 100%;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
}



.gambarCard{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.itemGambar{
    display: block;
    margin-top: 15px;
    margin-bottom: auto;
}